*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color: #15131B;
}

h1{
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    margin-bottom: 30px;
    
}