/* RESET BASICO  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
}

/* HEADER */
header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #cfbcff;
}



/* 3. HERO */
.hero {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    color: #cfbcff; /* Tu violeta claro */
    font-size: 3rem;
}

.hero p {
    margin: 20px 0;
}

.hero button {
    background-color: #cfbcff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

/* SECCIÓN SERVICIOS */
.servicios {
    padding: 50px 20px;
    text-align: center;
}

.servicios h2 {
    margin-bottom: 30px;
}

.servicios-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

/* ARTICLES */
article {
    border: 2px solid #cfbcff; 
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

article img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

article h3 {
    margin-bottom: 10px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


/* Este es el boton que va en el Header */
.btn-prueba {
    background-color: #cfbcff; 
    color: black;              
    padding: 10px 20px;        
    border: none;              
    cursor: pointer;           
}